/*		About section 		*/

.about {
  padding: 100px 0;

  & .iphone {
    max-width: 339px;
    position: relative;
    display: inline-block;
    text-align: center;

    & img {
      width: 100%;
      height: auto;
    }
  }

  & .features_list {
    margin-left: 50px;

    & h1 {
      color: #525151;
      font-family: "open_bold", Helvetica, Arial, sans-serif;
      font-size: 34px;
      font-weight: bold;
      line-height: 46px;
      margin: 0 0 20px 0;
      word-break: break-word;
    }

    & p {
      color: #767272;
      font-family: "open_regular", Helvetica, Arial, sans-serif;
      font-size: 16px;
      margin-bottom: 45px;
      line-height: 32px;
    }

    & ul {
      margin-bottom: 30px;

      & li {
        display: block;
        position: relative;
        color: #6c6c6c;
        font-family: "open_semibold", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 44px;

        transition: all .2s linear;
        -o-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;

        & span.icon{
          width: 22px;
          height: 20px;
          background-image: url("../img/about_icons.png");
          background-repeat: no-repeat;
          margin-right: 22px;

          &.camera_icon {
            background-position: 0 0;
          }

          &.video_icon {
            background-position: 0 -20px;
          }

          &.eye_icon {
            background-position: 0 -40px;
          }

          &.pic_icon {
            background-position: 0 -60px;
          }

          &.loc_icon {
            background-position: 0 -80px;
          }
        }


        & span {
          display: inline-block;
        }
      }
    }
  }
}
.about_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, .8);
  display: none;

  & iframe {
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
}

.close_video {
  text-decoration: none;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50px;
  right: 50px;
  background: url('../img/close_video.png') no-repeat;
  z-index: 9999;
}







