/*		App features 		*/

.app_features {
  width: 100%;
  padding: 100px 0 20px 0;
  background-color: #41c17d;

  background-image: -moz-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
  background-image: -o-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
  background-image: -webkit-linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
  background-image: linear-gradient(bottom, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);
  & h1 {
    color: #fff;
    font-family: "open_semibold", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 50px 0 0 0;
    word-break: break-word;
  }

  & p {
    color: #e0f7eb;
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 30px 0 0 0;
    line-height: 28px;
  }

  & .details {
    margin-bottom: 80px;

    & .icon {
      width: 36px;
      height: 32px;
      display: block;
      margin: 0 auto;
      background: url("../img/app_features.png") no-repeat;

      &.icon_1{
        background-position: 0 0;
      }
      &.icon_2{
        background-position: 0 -32px;
      }
      &.icon_3{
        background-position: 0 -64px;
      }
      &.icon_4{
        background-position: 0 -96px;
      }
      &.icon_5{
        background-position: 0 -128px;
      }
      &.icon_6{
        background-position: 0 -160px;
      }
    }

    &:nth-child(3n+1) {
      clear: both;
    }
  }
}


