/*		Footer 		*/

footer {
  padding: 100px 0;
  text-align: center;
  & .app_platform li {
    margin: 0 0 0 60px;

    & a span{
      display: inline-block;
      width: 40px;
      height: 38px;
      background: url("../img/footer_icons_big.png") no-repeat;


      &.android{
        background-position: 0 0;
      }
      &.ios{
        background-position: 0 -38px;
      }
      &.windows{
        background-position: 0 -76px;
      }
    }

    &:first-child {
      margin: 0;
    }
  }

  & .copyright {
    margin-top: 60px;
    color: #757171;
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: .5px;

    & a {
      color: #565555;
    }
  }
}


