
section, footer {
  background: #fffcfc;
}

/*		General CSS		*/
body {
  background: #20866e;
  padding: 0px;
  margin: 0px;
}

a:focus {
  color: #fff !important;
  text-decoration: none !important;
}

.container {
  max-width: 1130px;
}


